In [1]:
import pandas as pd
import openpyxl
import sys
import re

In [2]:
path=r'C:/_Sync_Study/Jade/Anti-religiontweets_J.csv'
df_J=pd.read_csv(path)
df_J.shape

(19939, 12)

In [3]:
path=r'C:/_Sync_Study/Jade/Anti-religiontweets_G.xlsx'
df_G=pd.read_excel(path)#, encoding=sys.getfilesystemencoding())
# df_G=pd.read_csv(path, encoding='unicode_escape')
df_G.shape

(21012, 12)

In [4]:
len(df_G.columns), df_G.columns

(12,
 Index(['User_ID', 'Tweets', 'Type\nNeither (0)\nHate speech(1)\nProfanity(2)',
        'Target\nNA(0)\nIndividual (1)\nGroup(2)',
        'Language\nNA(0)\nImplicit Hate (1)\nExplicit Hate (2)',
        'Theme\nNA(0)\nReligion (1)\nRace (2)\nOther(3)',
        'Goal\nNA(0)\nInsult(1)\nIcitement (2)\nThreat (3)',
        'Speech Acts\nNA(0)\nCommissive (1) commit the user to do certain things\nExpressive(2)\nDirective (3) directing the behaviour of the user',
        'Religion\nNA(0)\nIslam (1)\nChristianity (2)\nJudhaism (3)\nOther(4)',
        'RaceNA(0)\nHispanic (1)\nBlack (2)\nAsians (3)\nBrown (4)\nOther (5)',
        'Emotions\nNeutral(0)\nAnger(1)\nSad (2)\nHappy (3)\nFear (4\nSurprised (5)\nDisgust (6)',
        'Insult --> Expressive\nIncitement --> Directive\nThreat ---> Commisive'],
       dtype='object'))

In [5]:
len(df_J.columns), df_J.columns

(12,
 Index(['User_ID', 'Tweets', 'User_Name', 'Type', 'Unnamed: 4', 'Unnamed: 5',
        'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
        'Unnamed: 11'],
       dtype='object'))

In [14]:
df_G=df_G[:19804]
df_J=df_J[:19804]

In [15]:
df_G['Tweets']=df_G['Tweets'].apply(lambda x: re.sub(r'[^@ A-Z a-z 0-9-]+', "", x))
df_G['Tweets']

0        @Rolang7 @BiltmoreHeiress @johnfeal2 @Yogi4Lif...
1         When I found Jesus Christ I learned to be a b...
2         When I found Jesus Christ I learned to be a b...
3        Anyone on Metal Twitter particularly from Clan...
4                      @pegasuspublish Terrible publishers
                               ...
19799    You niggas lame I dont want nuffn that let u t...
19800    @myranesia meet @darionchill @darionchill meet...
19801    RT @sisusanity THREAD1Remember back in October...
19802                   My dawg @myranesia need a man yall
19803     Head amp sumn to eat dats all a thug nigga need
Name: Tweets, Length: 19804, dtype: object

In [16]:
df_J['Tweets']=df_J['Tweets'].apply(str).apply(lambda x: re.sub(r'[^@ A-Z a-z 0-9-]+', "", x))
df_J['Tweets']

0        @Rolang7 @BiltmoreHeiress @johnfeal2 @Yogi4Lif...
1         When I found Jesus Christ I learned to be a b...
2         When I found Jesus Christ I learned to be a b...
3        Anyone on Metal Twitter particularly from Clan...
4                      @pegasuspublish Terrible publishers
                               ...
19799    You niggas lame I dont want nuffn that let u t...
19800    @myranesia meet @darionchill @darionchill meet...
19801    RT @sisusanity THREAD1Remember back in October...
19802                   My dawg @myranesia need a man yall
19803     Head amp sumn to eat dats all a thug nigga need
Name: Tweets, Length: 19804, dtype: object

In [17]:
pd.DataFrame((df_G['Tweets']==df_J['Tweets'])).value_counts()

Tweets
True      19490
False       314
dtype: int64

In [18]:
tup = df_J.loc[df_G['Tweets'] != df_J['Tweets']]['Tweets'], df_G['Tweets'].loc[df_G['Tweets'] != df_J['Tweets']]
pd.concat(tup, axis=1).to_csv(r'C:/_Sync_Study/Jade/comp.csv')

In [19]:
df_J['Tweets']=df_G['Tweets']

In [20]:
pd.DataFrame((df_G['Tweets']==df_J['Tweets'])).value_counts()

Tweets
True      19804
dtype: int64

In [21]:
df_G=df_G.drop(['Insult --> Expressive\nIncitement --> Directive\nThreat ---> Commisive'], axis=1)

In [22]:
#df_G['User_Name']=df_J['User_Name']
df_G.insert(loc=2, column='User_Name', value=df_J['User_Name'])
df_G

,User_ID,Tweets,User_Name,Type\nNeither (0)\nHate speech(1)\nProfanity(2),Target\nNA(0)\nIndividual (1)\nGroup(2),Language\nNA(0)\nImplicit Hate (1)\nExplicit Hate (2),Theme\nNA(0)\nReligion (1)\nRace (2)\nOther(3),Goal\nNA(0)\nInsult(1)\nIcitement (2)\nThreat (3),Speech Acts\nNA(0)\nCommissive (1) commit the user to do certain things\nExpressive(2)\nDirective (3) directing the behaviour of the user,Religion\nNA(0)\nIslam (1)\nChristianity (2)\nJudhaism (3)\nOther(4),RaceNA(0)\nHispanic (1)\nBlack (2)\nAsians (3)\nBrown (4)\nOther (5),Emotions\nNeutral(0)\nAnger(1)\nSad (2)\nHappy (3)\nFear (4\nSurprised (5)\nDisgust (6)
0,1400000000000000000.0,@Rolang7 @BiltmoreHeiress @johnfeal2 @Yogi4Lif...,jnorthern29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1400000000000000000.0,When I found Jesus Christ I learned to be a b...,PraiseShop,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1400000000000000000.0,When I found Jesus Christ I learned to be a b...,TTNMinistry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1400000000000000000.0,Anyone on Metal Twitter particularly from Clan...,BlogThatFailed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1400000000000000000.0,@pegasuspublish Terrible publishers,killer_christ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19799,1410000000000000000.0,You niggas lame I dont want nuffn that let u t...,osama_santa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19800,1410000000000000000.0,@myranesia meet @darionchill @darionchill meet...,Bee_Osama_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19801,1410000000000000000.0,RT @sisusanity THREAD1Remember back in October...,MattMezinze3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19802,1410000000000000000.0,My dawg @myranesia need a man yall,Bee_Osama_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19803,1410000000000000000.0,Head amp sumn to eat dats all a thug nigga need,osama_santa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
cols=['User_ID', 'Tweets', 'User_Name', 'Type', 'Target', 'Language', 'Theme', 'Goal', 'Speech Act', 'Religion', 'Race', 'Emotions']
J_cols=[f'{x}_J' for x in cols]
G_cols=[f'{x}_G' for x in cols]
df_G.columns=G_cols
df_G.info()
#df_G.dropna()
df_G['Type_G']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19804 entries, 0 to 19803
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID_G     19804 non-null  object
 1   Tweets_G      19804 non-null  object
 2   User_Name_G   19804 non-null  object
 3   Type_G        1838 non-null   object
 4   Target_G      1721 non-null   object
 5   Language_G    1721 non-null   object
 6   Theme_G       1721 non-null   float64
 7   Goal_G        1721 non-null   float64
 8   Speech Act_G  1721 non-null   float64
 9   Religion_G    1721 non-null   float64
 10  Race_G        1722 non-null   float64
 11  Emotions_G    1681 non-null   float64
dtypes: float64(6), object(6)
memory usage: 1.8+ MB

NameError: name 'Type_G' is not defined

In [46]:
df_G['Type_G']
#[df_G['Type_G']==0 or df_G['Type_G']==2]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [57]:
df_J.columns=J_cols
#df_J.dropna()
df_J[['Type_J', 'Target_J',
       'Language_J', 'Theme_J', 'Goal_J', 'Speech Act_J', 'Religion_J',
       'Race_J', 'Emotions_J']].astype(int)
df_J.info()

ValueError: cannot convert float NaN to integer

In [37]:
tup=(df_J[['User_ID_J', 'Tweets_J', 'User_Name_J']], 
    df_J['Type_J'].astype(int), 
    df_G['Type_G'].astype(int), 
    df_J['Target_J'].astype(int), 
    df_G['Target_G'].astype(int), 
    df_J['Language_J'].astype(int), 
    df_G['Language_G'].astype(int), 
    df_J['Theme_J'].astype(int), 
    df_G['Theme_G'].astype(int), 
    df_J['Goal_J'].astype(int), 
    df_G['Goal_G'].astype(int), 
    df_J['Speech Act_J'].astype(int), 
    df_G['Speech Act_G'].astype(int), 
    df_J['Religion_J'].astype(int), 
    df_G['Religion_G'].astype(int), 
    df_J['Race_J'].astype(int), 
    df_G['Race_G'].astype(int), 
    df_J['Emotions_J'].astype(int), 
    df_G['Emotions_G'].astype(int))
df_comp=pd.concat(tup, axis=1)

ValueError: cannot convert float NaN to integer